:root {
    --default-font-family: 'Josefin Slab', serif;
    --heading-font-family: 'Great vibes', serif;
}

body {
    max-width: 100%;
    background-image: url('bg-img.jpg');
    background-color: #ccc;
    background-size: cover;
}

.navbar {
    font-family: var(--default-font-family);
}

h2,
h3 {
    font-family: var(--default-font-family);
}

h1 {
    font-family: var(--heading-font-family);
    font-size: 96px;
}

.hero {
    color: #F9F7FD;
    text-align: center;
    padding: 80px 20px;
}

p {
    font-family: var(--default-font-family);
    color: #F9F7FD;
    font-size: 30px;
}

.btn-outline-light {
    font-family: var(--default-font-family);
    font-size: 25px;
    font-weight: bolder;
}

.project-description {
    padding: 10px 40px;
}

.project-description h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: white;
    margin-top: 0;
    font-weight: bolder;
}

.inquiry {
    padding: 70px 60px;
    border: 2px solid #F9F7FC;
    border-radius: 10px;
}

.inquiry h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: white;
    margin-top: 0;
    font-weight: normal;
}

.email-link {
    color: #E4F4FE;
    font-family: var(--default-font-family);
    font-size: 40px;
    text-decoration: none;
}

.email-link:hover {
    color: white;
    text-decoration: underline;
}

.fa-brands {
    color: white;
    font-size: 35px;
    padding: 1rem;
}

.about {
    color: #F9F7FD;
    padding: 80px 20px;
    margin-top: 10px;
}
img {
    margin-top: 200px;
    
}
.about h1 {
    font-family: 'Montserrat', sans-serif;
}
.about h3 {
    font-weight: bold;
    font-size: 40px;
}

@media (max-width: 900px) {
    h1 {
        font-size: 45px;
        line-height: 2;
    }

    h2 {
        font-size: 45px;
    }

    .hero {
        padding: 80px 20px;
    }

    .project-description {
        padding: 0;
        text-align: center;
    }
}